@model almacenApp.Models.Producto

@{
    ViewData["Title"] = "createProducto";
}

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Home" asp-action="CreateProducto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_producto" class="control-label"></label>
                <input asp-for="id_producto" class="form-control" />
                <span asp-validation-for="id_producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock_cantidad" class="control-label"></label>
                <input asp-for="stock_cantidad" class="form-control" />
                <span asp-validation-for="stock_cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoria" class="control-label"></label>
                <input asp-for="categoria" class="form-control" />
                <span asp-validation-for="categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
