@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <h3><a href="/producto/list">Ver productos</a></h3>
    </div>
    <div>
        <h3><a href="/producto/create">Crear productos</a></h3>
    </div>
</div>

