@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="menu">
        <h1 class="display-4">MENU</h1>

        <div>
            <h3><a href="/producto/list">Ver Productos </a></h3>
        </div>

        <div>
            <h3><a href="/producto/create">Crea un Producto</a></h3>
        </div>

        <div>
            <div class="container input-group rounded">
                <form method="post" asp-controller="producto" asp-action="DetailsByName">
                    @model almacenApp.Models.Producto
                    <input asp-for="nombre" type="search" class="form-control rounded" placeholder="por nombre"/>
                    <br />
                    <input type="submit" value="Buscar" class="btn btn-dark" />
                </form>
            </div>
        </div>
    
    </div>
</div>
