@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <h3><a href="/home/verProductos">Ver productos</a></h3>
    </div>
    <div>
        <h3><a href="/home/createProducto">Crear productos</a></h3>
    </div>
</div>


