@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
       <h1>Connection Status</h1>
        <p>@ViewData["ConnectionStatus"]</p>
    </div>
</div>
