<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
<!--app settings -->
	<appSettings>
		<add key="server" value="localhost"/>
		<add key="database" value="empresa"/>
		<add key="user" value="root"/>
		<add key="password" value="1234"/>
	</appSettings>
</configuration>