*{
    box-sizing: border-box;
}

body {
    background-image: url("https://w.wallhaven.cc/full/y8/wallhaven-y8d6qx.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.grid {
    display: grid;
    grid-template:  "header" 
                    "card-box card-box card-box"
                    "card-box card-box card-box"
                    "card-box card-box";
    grid-template-columns: 1fr repeat(3, 250px);
    grid-template-rows: 100px repeat(3, 300px);
    gap: 10px;
}

.header {
    grid-area: header;
    height: 100px;
    font-family: monospace;
    font-size: 12rem;
}

.card-box {
    grid-area: card-box;
    background-color: gray;
    height: 300px;
    width: 250px;
}