*{box-sizing: border-box;}

:root {
    background-color: #9992d2;
}

#grid {
    display: grid;
    grid-template-columns: auto [section-start] 1fr [section-end] auto;
    grid-template-rows: auto [section-start]1fr 1fr 1fr 1fr 1fr 1fr [section-end] auto;

}

#section {
    grid-column: section-start / section-end;
    grid-row: section-start / section-end;

  max-width: 450px;
  min-width: 230px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(108, 220, 230);
  border: 2px solid rgb(11, 2, 63);
  border-radius: 1.2em;
}

#section div {
    width: auto;
    margin: 2rem auto;
    padding: 0.3em;
    border: 1px solid rgb(121, 48, 48);
    border-radius: 15px;
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
    box-shadow: 10px -16px teal;
}

#section form select {
    width: 100%;
    height: 35px;
}

#section form {
    text-align: center;
}