#logo {
    width: 40px;
    height: auto;
    margin: 1% 4%;
}

.navbar {
    background-color: #FFFFFF !important;
    /*TODO: i want to make the navbar fix in the top of the display or viewport */
}



































/*containers, body  & footer styles*/

/**body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: bisque;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    color: #f2f4ff;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url("/src/img/spa10.jpg");
    color: antiquewhite;
}

button{
    display: unset;
    position: relative;
    width: 120px;
    height: auto;
    margin-top: 1.2rem;
    margin-right: 15px;
}

footer {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}

footer section{
    border: 1px solid #fff;
    margin: 12px 12px;
}

footer #map-container{
    display: unset;
    width: 40%;
    height: auto;
}
*/
/*Carrousel*/



  